body {
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
}

.work-ul {
  position: absolute;
  top: 19rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: -0.5rem;
  color: rgb(0, 0, 0);
  align-items: center;
  padding-left: 1.3rem;
}

.work-ul li {
  list-style-type: none;
  background-color: #98dede;
  padding: 0.3rem;
  margin-right: 0.25rem;
  width: 87px;
}

.rectangle {
  position: absolute;
  top: 15.5rem;
  left: -0.5rem;
  width: 320px;
  height: 156px;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
}

.rectangle1 {
  position: absolute;
  top: 15.5rem;
  left: -0.5rem;
  width: 320px;
  height: 156px;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
}

.work-ul1 {
  position: absolute;
  top: 19rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: -0.5rem;
  color: rgb(0, 0, 0);
  align-items: center;
  padding-left: 1.3rem;
}

.work-ul1 li {
  list-style-type: none;
  background-color: #98dede;
  padding: 0.3rem;
  margin-right: 0.25rem;
  width: 87px;
}

.icon {
  width: 20px;
  height: 14px;
  background: #c4c4c4;
  margin-right: 1rem;
  position: relative;
  right: -10rem;
  top: -2rem;
}

.main {
  position: absolute;
  width: 288px;
  height: 336px;
  left: 16px;
  top: 30px;
  display: flex;
  flex-direction: column;
}

.name {
  position: relative;
  margin-left: 1rem;
  margin-top: 9rem;
  width: 220px;
  height: 100px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 110%;
  color: #1a2236;
}

.paragraph {
  position: relative;
  width: 288px;
  height: 126px;
  left: 16px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.collab {
  position: absolute;
  left: 1px;
  right: 5%;
  top: 7.94%;
  bottom: 91.04%;
}

.rectagle {
  box-sizing: border-box;
  position: relative;
  width: 320px;
  height: 50px;
  top: 405px;
  background: #1a2236;
}

.par {
  position: relative;
  width: 203.68px;
  height: 26.47px;
  left: 55px;
  top: 350px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #fff;
}

.geometry1 {
  position: relative;
  top: 27rem;
  left: 0.5rem;
  width: 320px;
  height: 160px;
}

.projects {
  position: relative;
  top: 26rem;
  width: 181px;
  height: 50px;
  left: 0.5rem;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;

  /* identical to box height, or 50px */
  color: #1a2236;
}

.projectlist {
  position: relative;
  width: 320px;
  height: 342px;
  left: 15px;
  top: 23rem;
}

.laptop {
  position: relative;
  width: 322px;
  height: 186px;
  left: -0.5rem;
  top: 65px;
  background: url(image.png);
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
}

.laptop1 {
  position: relative;
  width: 322px;
  height: 186px;
  left: -0.5rem;
  top: 65px;
  background: url(image.png);
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
}

.first-project {
  position: absolute;
  margin-left: 1.25rem;

  /* width: 264px; */
  height: 16px;

  /* left: 90px; */
  top: -5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 25px;
  line-height: 80%;

  /* display: flex; */

  /* identical to box height, or 16px */
  color: rgb(255, 255, 255);
}

.first-project1 {
  position: absolute;
  margin-left: 1.25rem;

  /* width: 264px; */
  height: 16px;

  /* left: 90px; */
  top: -5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 25px;
  line-height: 80%;

  /* display: flex; */

  /* identical to box height, or 16px */
  color: rgb(255, 255, 255);
}

.see-project-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 110px;
  top: 7px;
}

.see-project-icon1 {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 110px;
  top: 7px;
}

.see-project-pargraph {
  position: absolute;
  width: 124px;
  height: 4px;
  left: -10px;
  top: -10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height */

  text-align: center;
  color: #fff;
}

.see-project-pargraph1 {
  position: absolute;
  width: 124px;
  height: 4px;
  left: -10px;
  top: -10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height */

  text-align: center;
  color: #fff;
}

.seeproject2 {
  position: absolute;
  width: 24px;
  height: 20px;
  left: 40px;
  top: 1420px;
}

.seeproject {
  position: absolute;
  top: 356px;
  width: 150px;
  height: 40px;
  left: 20px;
  left: 0.75rem;
  border: 1px solid #fff;
}

.seeproject1 {
  position: absolute;
  top: 356px;
  width: 150px;
  height: 40px;
  left: 20px;
  left: 0.75rem;
  border: 1px solid #fff;
}

.project-button {
  padding: 1.5rem 2rem;
}

.page2-list {
  position: relative;
  top: 22.8rem;
  left: 0.85rem;
}

.page3-list {
  position: relative;
  top: 32rem;
  left: 0.85rem;
}

.page4-list {
  position: relative;
  top: 41.2rem;
  left: 0.8rem;
}

.page5-list {
  position: relative;
  top: 50.4rem;
  left: 0.75rem;
}

.page-list {
  position: relative;
  top: 60rem;
  left: 0.8rem;
}

.page6 {
  position: absolute;
  width: 289px;
  height: 289px;
  left: 16px;
  top: 2580px;
}

.about {
  position: absolute;
  width: 134px;
  height: 50px;
  left: 16px;
  top: 365px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;

  /* identical to box height, or 50px */

  color: #1a2236;
}

.disc {
  position: absolute;
  width: 288px;
  height: 126px;
  left: 16px;
  top: 420px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
}

.cv {
  box-sizing: border-box;
  position: absolute;
  width: 289px;
  height: 50px;
  left: 14px;
  top: 590px;
  background: #1a2236;
}

.cv:hover {
  background: #fff;
}

.cv-pargraph {
  top: 2000px;
  left: 20px;
}

.cv-pargraph:hover {
  color: #000;
}

.c {
  color: #fff;
  text-align: center;
}

.c:hover {
  color: #000;
}

.list-layout {
  position: relative;
  top: 96rem;
  left: 1.25rem;
  width: 289px;
  height: 289px;
  background: #1c528a;
}

.headline {
  position: absolute;
  width: 116px;
  height: 30px;
  left: 60px;
  top: 0;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;

  /* identical to box height */

  color: #fff;
}

.list-item1 {
  position: absolute;
  width: 178px;
  height: 135px;
  left: 66px;
  top: 80px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.list-item2 {
  position: absolute;
  width: 178px;
  height: 135px;
  left: 66px;
  top: 110px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.list-item3 {
  position: absolute;
  width: 178px;
  height: 135px;
  left: 66px;
  top: 140px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.list-item4 {
  position: absolute;
  width: 178px;
  height: 135px;
  left: 66px;
  top: 170px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.list-item9 {
  position: absolute;
  width: 118px;
  height: 135px;
  left: 66px;
  top: 200px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.shape {
  position: absolute;
  width: 102px;
  height: 102px;
  left: 180px;
  top: 180px;
}

.list-layout2 {
  position: relative;
  width: 289px;
  height: 289px;
  left: 1.25rem;
  top: 96rem;
  background: #e2505c;
}

.shape2 {
  position: absolute;
  width: 102.22px;
  height: 102.22px;
  left: 190px;
  top: 189.94px;
  opacity: 0.5;
}

.list-layout3 {
  position: relative;
  width: 289px;
  height: 289px;
  left: 1.25rem;
  top: 96rem;
  background: #febf52;
}

.shape3 {
  position: absolute;
  width: 102px;
  height: 102px;
  left: 180px;
  top: 190px;
  opacity: 0.5;
}

.img {
  display: block;
  position: absolute;
  height: 74.02px;
  left: 0;
  top: 4300px;
}

.healine5 {
  position: absolute;
  width: 100;
  height: 50px;
  left: 30px;
  top: 4430px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;

  /* identical to box height, or 50px */
  color: #1a2236;
}

.lorem {
  position: absolute;
  width: 288px;
  height: 63px;
  left: 16px;
  top: 4530px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.iput-name {
  box-sizing: border-box;
  position: absolute;
  width: 288px;
  height: 52px;
  left: 16px;
  top: 4200px;
  border-radius: 4px;
}

.name-lable {
  position: absolute;
  top: -20px;
  z-index: 2;
}

#name {
  padding: 1rem;
  position: relative;
  top: 32rem;
  border-radius: 7px;
  background: #fff;
  border: 1px solid #dfdfe0;
}

.input-email {
  box-sizing: border-box;
  position: absolute;
  width: 288px;
  height: 52px;
  left: 16px;
  top: 4250px;
  border-radius: 7px;
}

#email {
  padding: 1rem;
  position: relative;
  top: 33rem;
  border-radius: 7px;
  background: #fff;
  border: 1px solid #dfdfe0;
  box-sizing: border-box;
}

.input-message {
  box-sizing: border-box;
  position: absolute;
  width: 285px;
  height: 112px;
  left: 16px;
  top: 4300px;
  padding: 50;
  border-radius: 7px;
}

.message-lable {
  position: absolute;
  top: 50px;
}

#message {
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  width: 35rem;
  height: 80%;
  padding: 1rem;
  position: relative;
  top: 34rem;
}

.input {
  height: 100px;
}

.container {
  position: absolute;
  width: 288px;
  height: 44px;
  left: 16px;
  top: 4350px;
}

.collab2 {
  position: absolute;
  width: 283px;
  height: 44px;
  left: -2px;
  top: 650px;
  background: #1a2236;
  color: #fff;
}

.collab2:hover {
  background-color: #fff;
  color: #000;
}

.collab-text {
  position: absolute;
  width: 151px;
  height: 24px;
  left: 60px;
  top: -5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height */

  text-align: center;
  color: #fff;
}

.footer {
  position: absolute;
  width: 283px;
  height: 150px;
  left: 15px;
  top: 5160px;
  background: #1a2236;
}

.icon2 {
  position: absolute;

  /* width: 10px; */
  height: 10px;

  /* left: 90px; */
  top: 30px;
}

.resume {
  position: absolute;
  width: 127px;
  height: 24px;
  left: 16px;
  top: -20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height */

  color: #92dcdc;
}

.social-list {
  position: absolute;
  width: 288px;
  height: 24px;
  left: 16px;
  top: 6px;
  list-style: none;
}

.github {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 50px;
  top: 70px;
  bottom: 10px;
}

.twitter {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 150px;
  top: 70px;
  bottom: 10px;
}

.medeum {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 200px;
  top: 70px;
  bottom: 10px;
}

.angellist {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 100px;
  top: 70px;
  bottom: 10px;
}

.stackoverflow {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: 70px;
  bottom: 10px;
}

.pic {
  display: none;
}

.dots {
  display: none;
}

.desktop-flex {
  display: none;
}

.image-dots {
  display: none;
}

.geo {
  display: none;
}

.geo2 {
  display: none;
}

.img-shape {
  display: none;
}

.img-geo3 {
  display: none;
}

.img-dots {
  display: none;
}

.img-geo4 {
  display: none;
}

.img-geo5 {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    display: block;
  }

  .desktop-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
  }

  .padding {
    padding: 0 0.5rem;
  }

  .geometry1 {
    display: none;
  }

  .geometry {
    display: none;
  }

  .pic {
    display: block;
    position: relative;
    width: 400px;
    height: 500px;
    margin-left: 65rem;
    top: 100px;
  }

  .dots {
    display: block;
    position: relative;
    width: 175px;
    height: 175px;
    margin-left: 54rem;
    margin-top: 19rem;
  }

  .name {
    display: block;
    position: relative;
    margin-left: 20rem;
    margin-top: 9rem;
    width: 317px;
    height: 96px;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 110%;
    color: rgb(26, 34, 54);
  }

  .paragraph {
    display: block;
    position: relative;
    width: 492px;
    margin-left: 19rem;
    top: 2rem;
    height: 170px;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 53px;
    letter-spacing: 0;
    color: rgb(26, 34, 54);
  }

  .collab {
    position: absolute;
    left: 20rem;
    right: 5%;
    top: 115.94%;
    bottom: 91.04%;
  }

  .rectagle {
    box-sizing: border-box;
    position: relative;
    width: 385px;
    height: 56px;
    top: 405px;
    background: #1a2236;
  }

  .par {
    position: relative;
    width: 206.68px;
    height: 16.47px;
    left: 87px;
    top: 340px;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 25px;
    text-align: center;
    color: #fff;
  }

  .rectagle:hover {
    background: #e5e5e5;
    border: 1px solid #1a2236;
  }

  .page1 {
    display: block;
  }

  .projects {
    display: block;
    transform: rotate(270deg);
    margin-left: 18rem;
    top: 10rem;
    font-size: 7rem;
  }

  .social-list {
    display: block;
    position: absolute;
    width: 288px;
    height: 24px;
    left: 385px;
    top: -4px;
    padding: inherit;
    list-style: none;
  }

  .projectlist {
    display: block;
    position: relative;
    width: 320px;
    height: 342px;
    left: 100rem;
    top: 5rem;
  }

  .laptop1 {
    display: block;
    position: relative;
    width: 1266px;
    height: 286px;
    left: -38.5rem;
    top: -33px;
    background: url(image.png);
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
  }

  .rectangle1 {
    display: block;
    position: absolute;
    top: 14.25rem;
    left: -38.5rem;
    width: 1263px;
    height: 179px;
    background: #1a2236;
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
  }

  .first-project1 {
    position: absolute;
    display: block;
    margin-left: 4rem;
    height: 16px;
    top: -9px;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 350;
    font-size: 31px;
    line-height: 80%;
    color: rgb(255, 255, 255);
  }

  .work-ul {
    position: absolute;
    top: 19rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 0.5rem;
    color: rgb(0, 0, 0);
    align-items: center;
    padding-left: 1.3rem;
  }

  .work-ul1 {
    position: absolute;
    top: 17rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: -36rem;
    color: rgb(0, 0, 0);
    align-items: center;
    padding-left: 1.3rem;
  }

  .work-ul1 li {
    list-style-type: none;
    background-color: #98dede;
    padding: 1rem;
    margin-right: 1.25rem;
    width: 110px;
    font-size: 1.24rem;
  }

  .seeproject1 {
    position: absolute;
    top: 356px;
    width: 463px;
    height: 40px;
    left: 20px;
    left: -8.25rem;
    border: 1px solid #fff;
  }

  .see-project-icon1 {
    position: absolute;
    width: 30px;
    height: 24px;
    left: 370px;
    top: 7px;
  }

  .see-project-pargraph1 {
    position: absolute;
    width: 124px;
    height: 4px;
    left: 170px;
    top: -14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }

  .image-dots {
    display: block;
    position: relative;
    left: 50rem;
    top: -18rem;
  }

  .page2-list {
    display: block;
    position: relative;
    top: -76.8rem;
    left: 61.85rem;
  }

  .geo {
    display: block;
    position: relative;
    left: 29.5rem;
    top: -2rem;
  }

  .page3-list {
    display: block;
    position: relative;
    top: -88.9rem;
    left: 99.85rem;
  }

  .geo2 {
    display: block;
    position: relative;
    left: 0.29rem;
    top: -15rem;
  }

  .laptop {
    position: relative;
    width: 594px;
    height: 186px;
    left: -0.5rem;
    top: 65px;
    background: url(image.png);
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
  }

  .rectangle {
    position: absolute;
    top: 15.5rem;
    left: -0.5rem;
    width: 593px;
    height: 156px;
    background: #1a2236;
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
  }

  .work-ul li {
    list-style-type: none;
    background-color: #98dede;
    padding: 0.3rem;
    margin-right: 3.25rem;
    width: 118px;
  }

  .seeproject {
    position: absolute;
    top: 356px;
    width: 160px;
    height: 40px;
    left: 11.75rem;
    border: 1px solid #fff;
    background: #1a2236;
  }

  .page4-list {
    position: relative;
    top: -79rem;
    left: 48.8rem;
  }

  .img-geo {
    position: relative;
    top: 12rem;
    left: 86rem;
  }

  .img-shape {
    display: block;
    position: relative;
    top: -14rem;
    left: 96.5rem;
  }

  .page-list {
    position: relative;
    top: -102rem;
    left: 0.8rem;
  }

  .img-geo3 {
    display: block;
    top: -30.5rem;
    position: relative;
    left: 43rem;
  }

  .page5-list {
    position: relative;
    top: -125.6rem;
    left: 0.75rem;
  }

  .page6 {
    position: absolute;
    width: 289px;
    height: 289px;
    left: 39rem;
    top: 220rem;
  }

  .about {
    position: absolute;
    width: 134px;
    height: 50px;
    left: 0;
    top: 210px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100%;
    color: #1a2236;
  }

  .list-layout {
    position: relative;
    top: -9rem;
    left: 1.25rem;
    width: 289px;
    height: 289px;
    background: #1c528a;
  }

  .list-layout2 {
    position: relative;
    width: 289px;
    height: 289px;
    left: 19.25rem;
    top: -28rem;
    background: #e2505c;
  }

  .list-layout3 {
    position: relative;
    width: 289px;
    height: 289px;
    left: 1.25rem;
    top: -29rem;
    background: #febf52;
  }

  .img-dots {
    display: block;
    position: relative;
    top: 85rem;
    left: 20rem;
  }

  .healine5 {
    position: absolute;
    width: 100;
    height: 50px;
    left: 22rem;
    top: 4430px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 100%;
    color: #1a2236;
  }

  .img {
    display: none;
    position: absolute;
    height: 74.02px;
    left: 0;
    top: 4435px;
  }

  .lorem {
    position: absolute;
    width: 348px;
    height: 63px;
    left: 22rem;
    top: 4549px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #1a2236;
  }

  .form {
    position: absolute;
    top: 283px;
    left: 25rem;
    margin: -15rem;
    padding: 20rem;
  }

  .footer {
    position: absolute;
    width: 100%;
    height: 150px;
    left: 15px;
    top: 5160px;
    background: #1a2236;
  }

  .resume {
    position: absolute;
    width: 270px;
    height: 24px;
    left: 5rem;
    top: 37px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 26px;
    color: #92dcdc;
  }

  .github {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 70rem;
    top: 70px;
    bottom: 10px;
  }

  .twitter {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 75rem;
    top: 70px;
    bottom: 10px;
  }

  .medeum {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 80rem;
    top: 70px;
    bottom: 10px;
  }

  .stackoverflow {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 85rem;
    top: 70px;
    bottom: 10px;
  }

  .angellist {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 90rem;
    top: 70px;
    bottom: 10px;
  }

  .img-geo4 {
    display: block;
    position: absolute;
    top: 300rem;
    left: 123rem;
  }

  .img-geo5 {
    position: absolute;
    display: block;
    top: 277rem;
  }

  #email {
    padding: 1rem;
    position: relative;
    top: 29rem;
    border-radius: 7px;
    background: #fff;
    border: 1px solid #dfdfe0;
    box-sizing: border-box;
    left: 20rem;
  }

  .input-message {
    box-sizing: border-box;
    position: absolute;
    width: 285px;
    height: 112px;
    left: 16px;
    top: 4236px;
    padding: 50;
    border-radius: 7px;
  }

  #message {
    border: 1px solid #dfdfe0;
    border-radius: 4px;
    width: 37rem;
    height: 80%;
    padding: 1rem;
    position: relative;
    top: 34rem;
  }

  .collab2 {
    position: absolute;
    width: 283px;
    height: 44px;
    left: 140px;
    top: 590px;
    background: #1a2236;
    color: #fff;
  }
}
